<div class="about">
  <div class="about-title">
    SEE THE WORLD<br>
    WITH YOUR COMPOUND EYES
  </div>
  <div class="about-detail">
    <p>
      ここは留学を経験した人、現在留学中の人、<br>
      これから留学を考えている人をつなぐ場所です。<br>
      ぜひ世界を見てきた先人たちに質問し、<br>
      充実した留学生活を送りましょう。
    </p>
  </div>
</div>