@import '~bootstrap/scss/bootstrap';

header {
  height: 90px;
  border-bottom: solid 1px #BBBBBB;
}

html, body, main {
  height: 100%;
}

main {
  min-height: 100%;
  width: 100%;
  background-color: #EEEEEE;
  justify-content: center;
}

body > main {
  height: auto;
}