@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

/*header*/

header {
  height: 80px;
  border-bottom: solid 1px #BBBBBB;
  font-family: 'Calibri', cursive;
  background-color: #FFFFFF;
  position: fixed;
  z-index: 3;
  top: 0;
  width: 100%;
}

.navbar.navbar-expand-lg.navbar-light {
  background-color: #FFFFFF;
}

.container-fluid {
  padding-left: 70px;
  padding-right: 50px;
}

.container-fluid h1 {
  margin-bottom: 0;
}

.navbar-brand {
  font-size: 45px;
}

.notice {
  justify-content: center;
  text-align: center;
  color: #FFFFFF;
  background-color: #555555;
}

html, body, main {
  height: 100%;
}

/*main*/

main {
  padding-top: 80px;
  min-height: 100%;
  width: 100%;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  background-color: #EEEEEE;
  justify-content: center;
  position: relative;
  color: #000000;
  z-index: 1;
}

main a:hover {
  color: #888888;
}

body > main {
  height: auto;
}

main h2 {
  color: #000000;
  height: 50px;
  line-height: 50px;
  padding-left: 45px;
  font-weight: bold;
  margin-bottom: 0;
}

.col-md-8 {
  border-top: solid 1px #BBBBBB;
}

.space {
  padding-top: 15px;
}

.post {
  background-color: #FFFFFF;
  display: flex;
  height: auto;
  padding: 10px;
  margin: 10px;
  border: solid 1px #BBBBBB;
  border-radius: 6px;
  position: relative;
}

.post-image {
  margin: 20px 0 10px;
}

.post-image-item {
  margin-bottom: 0;
}

.post-image .rounded {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.like-time {
  margin-top: 5px;
}

.post-info {
  width: 500px;
  padding-top: 15px;
  margin-left: 25px;
  overflow-wrap: break-word;
}

.post-info p {
  margin-bottom: 5px;
}

.post-info-item {
  margin-top: 5px;
}

.post-info .rounded-circle.border.border-muted {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.edit-delete {
  position: absolute;
  top: 5px;
  right: 10px;
}

.sidebar {
  position: sticky;
  top: 0;
  z-index: 3;
}

.search-tag {
  text-align: center;
  width: 320px;
  margin: 0 30px 0 50px;
  background-color: #FFFFFF;
  padding: 10px 0;
  border: solid 1px #BBBBBB;
  border-radius: 6px;
}

.user-info {
  width: 320px;
  height: auto;
  margin: 20px 30px 0 50px;
  padding: 10px 0 10px 20px;
  border: solid 1px #BBBBBB;
  background-color: #FFFFFF;
  border: solid 1px #BBBBBB;
  border-radius: 6px;
  position: relative;
  overflow-wrap: break-word;
}

.user-info p {
  margin: 8px 0;
}

.user-info .rounded-circle.border.border-muted {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.users {
  height: auto;
  width: 320px;
  margin: 20px 30px 0 50px;
  padding: 10px 0 10px 20px;
  border: solid 1px #BBBBBB;
  background-color: #FFFFFF;
  border: solid 1px #BBBBBB;
  border-radius: 6px;
  position: relative;
  overflow-wrap: break-word;
}

.users .rounded-circle.border.border-muted {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.user-edit {
  position: absolute;
  top: 0;
  right: 5px;
}

.comment {
  margin-left: 20px;
  padding-right: 250px;
}

.comment .rounded-circle.border.border-muted {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.new-post {
  justify-content: center;
  text-align: center;
}

.edit-post {
  justify-content: center;
  text-align: center;
}

.form-group {
  margin: 10px 0;
}

#user_country_code {
  display: block;
  width: 100%;
}

.error-message {
  color: red;
}

.error-message ul {
  list-style: none;
  display: block;
}

.error-message li {
  display: list-item;
}

.wrapper {
	margin-top: 80px;
	margin-bottom: 20px;
	padding-top: 50px;
}

.form-signin {
  max-width: 420px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  background-color: #eee;
  border: 3px dotted rgba(0,0,0,0.1);
}

.form-signin-heading {
  text-align:center;
  margin-bottom: 30px;
}

input[type="text"] {
  margin-bottom: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.actions {
  width: 100%;
  justify-content: center;
  text-align: center;
}

.about {
  height: 500px;
  background-color: #FFFFFF;
  margin-top: 30px;
  padding-top: 40px;
  justify-content: center;
  text-align: center;
  font-family: 'Mv Boli', sans-serif;
}

.about-title {
  font-size: 50px;
}

.about-detail {
  font-size: 20px;
}

.new-post {
  overflow-wrap: break-word;
}

.checkbox {
  display: flex;
  flex-wrap: wrap;
  margin: 0 200px;
}

.checkbox-item {
  display: inline;
}

.col-md-8 {
  padding-top: 25px;
}

.unsubscribe {
  height: 600px;
  padding-top: 80px;
  text-align: center;
  justify-content: center;
  background-color: #FFFFFF;
  border: solid 1px #BBBBBB;
  border-radius: 6px;
}

.unsubscribe h2 {
  padding-left: 0;
}

.unsubscribe a {
  margin: 0 10px;
}

#comments_area {
  border: solid 1px #BBBBBB;
  border-radius: 6px;
  background-color: #FFFFFF;
}

#comments_area p {
  margin: 5px 0 3px;
}

.post-comment {
  display: flex;
  margin-left: 10px;
}

.post-comment-delete {
  margin-left: 10px;
}

.form-signin {
  background-color: #FFFFFF;
}

.align-middle .rounded {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.align-middle .rounded-circle {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

#word {
  width: 200px;
}

#range {
  width: 100px;
}

.notice {
  width: 100%;
}


/*タブレット横置きサイズ*/
@media screen and (max-width:1024px) {

  #search {
    width: 60px;
  }

  .post-info {
    width: 100%;
  }

  .search-tag {
    width: 100%;
    margin: 0 30px;
  }

  .user-info {
    width: 100%;
    margin: 20px 30px 0;
  }

  .users {
    width: 100%;
    margin: 20px 30px 0;
  }

  .comment {
    padding-right: 200px;
  }

  .form-group {
    margin: 10px 0;
  }

  .wrapper {
  	margin-top: 80px;
  	margin-bottom: 20px;
  }

  .form-signin {
    width: 100%;
  }

  .about {
    height: auto;
    padding: 40px 0;
  }

  .checkbox {
    flex-flow: row wrap;
    margin: 0;
  }

  .unsubscribe {
    height: auto;
    padding-bottom: 80px;
  }
}

/*タブレット縦置きサイズ*/
@media screen and (max-width:768px) {

  main {
    font-size: 14px;
  }

  .post {
    width: 100%;
    display: block;
    margin: 10px 0;
  }

  .post-image {
    text-align: center;
    margin: 20px 0 0;
  }

  .post-info {
    width: 100%;
    padding-top: 0;
    margin-left: 0;
  }

  .like-time p {
    margin-bottom: 0;
    text-align: left;
  }

  .search-tag {
    margin: 10px 0;
    width: 100%;
  }

  .user-info {
    margin: 10px 0;
    width: 100%;
  }

  .users {
    margin: 0;
    width: 100%;
  }

  .comment {
    padding-right: 150px;
    margin-left: 0;
  }

  .form-group {
    margin: 10px 0;
  }

  .wrapper {
  	margin-top: 80px;
  	margin-bottom: 20px;
  }

  .form-signin {
    width: 100%;
  }

  .about {
    height: auto;
    padding: 40px 0;
  }

  .checkbox {
    flex-flow: row wrap;
    margin: 0;
  }

  .unsubscribe {
    height: auto;
    padding-bottom: 80px;
  }

  #word {
    width: 100%;
  }

  #range {
    width: 100%;
  }

}

/*スマートフォン用*/
@media screen and (max-width:425px) {

  header {
    height: 70px;
  }

  h2 {
    font-size: 25px;
  }

  .navbar-brand {
    font-size: 40px;
  }

  .search-box {
    display: block;
  }

  main {
    padding-top: 70px;
  }

  main h2 {
    padding-left: 5px;
    width: 100%;
  }

  .col-md-8 {
    padding-top: 10px;
  }

  .post {
    display: block;
    margin: 0 0 5px;
  }

  .post-image {
    margin: 20px 0 0;
    text-align: center;
    font-size: 12px;
  }

  .post-image .rounded {
    width: 320px;
    height: 320px;
    object-fit: cover;
  }

  .like-time p {
    margin-bottom: 0;
    text-align: left;
  }

  .post-info {
    width: 100%;
    margin-left: 0;
    padding-top: 0;
    font-size: 12px;
  }

  .col-md-4 {
    font-size: 12px;
  }

  .search-tag {
    width: 100%;
    margin: 10px 0;
  }

  .user-info {
    width: 100%;
    margin: 10px 0;
  }

  .users {
    width: 100%;
    margin: 10px 0;
  }

  .user-edit {
    font-size: 16px;
  }

  .comment {
    width: 100%;
    padding: 0;
    margin: 5px 0 0;
    font-size: 12px;
  }

  .new-comment {
    width: 100%;
  }

  .error-message {
    font-size: 12px;
  }

  .wrapper {
  	margin: 0;
  }

  .form-signin {
    width: 100%;
  }

  .actions {
    margin: 0;
  }

  .about {
    height: auto;
    margin-top: 0;
    padding: 40px 0;
  }

  .checkbox {
    flex-flow: row wrap;
    margin: 0;
  }

  .unsubscribe {
    margin-top: 0;
    border-radius: 0;
  }

}