@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

header {
  font-family: 'Calibri', cursive;
  width: 100%;
  height: 90px;
  padding: 0 65px;
  border-bottom: solid 1px #BBBBBB;
  position: fixed;
  top: 0;
  display: flex;
  position: relative;
}

header h1 {
  line-height: 90px;
  font-size: 45px;
}

header h1 a:visited, a:active {
  color: #000000;
}

nav a:hover {
  color: #222222;
}

ul {
  margin: 0;
  display: flex;
}

.nav-list {
  padding: 0 20px;
  margin-bottom: 0;
}

.nav-list-item {
  line-height: 90px;
  list-style: none;
  display: inline-block;
  margin: 0 15px;
}

.nav-list-item a {
  color: #888888;
}

.search-box {
  position: absolute;
  top: 25px;
  right: 40px;
}

.search-form .search-button {
  height: 25px;
}

.search-button {
  padding: 0 6px;
}

.notice {
  justify-content: center;
  text-align: center;
  color: #FFFFFF;
  background-color: #555555;
}

html, body, main {
  height: 100%;
}

main {
  min-height: 100%;
  width: 100%;
  padding: 10px 50px 0;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  background-color: #EEEEEE;
  justify-content: center;
  position: relative;
}

main a:hover {
  color: #888888;
}
body > main {
  height: auto;
}

main h2 {
  color: #000000;
  height: 50px;
  line-height: 50px;
  padding-left: 45px;
}

main {
  color: #000000;
}

.col-md-8 {
  border-top: solid 1px #BBBBBB!important;
}

.post {
  background-color: #FFFFFF;
  display: flex;
  height: 300px;
  padding: 10px;
  margin: 10px;
  border-bottom: solid 1px #BBBBBB;
  border-radius: 6px;
  position: relative;
}

.post-image {
  margin-bottom: 10px;
}

.post-image-item {
  margin-bottom: 0;
}

.like-time {
  margin-top: 5px;
}

.like-time a:visited, a:active {
  color: #000000;
}

.post-info {
  width: 500px;
  padding-top: 15px;
  margin-left: 25px;
  overflow-wrap: break-word;
}

.post-info p {
  margin-bottom: 5px;
}

.post-info-item {
  margin-top: 5px;
}

.edit-delete {
  position: absolute;
  top: 5px;
  right: 10px;
}

.col-md-4 {
  text-align: center;
}

.search-tag {
  width: 320px;
  margin: 0 50px;
  background-color: #FFFFFF;
  padding: 10px 0;
  border: solid 1px #BBBBBB;
  border-radius: 6px;
}

.user-info {
  width: 320px;
  margin: 20px 50px 0;
  padding: 10px 0;
  border: solid 1px #BBBBBB;
  background-color: #FFFFFF;
  border-radius: 6px;
  position: relative;
  overflow-wrap: break-word;
}

.user-info p {
  margin: 8px 0;
}

.user-edit {
  position: absolute;
  top: 0;
  right: 5px;
}

.comment {
  margin-left: 20px;
  padding-right: 250px;
}

.new-post {
  justify-content: center;
  text-align: center;
}

.edit-post {
  justify-content: center;
  text-align: center;
}

.form-group {
  margin: 10px 0;
}

.error-message ul {
  list-style: none;
  display: block;
}

.error-message li {
  display: list-item;
}

.wrapper {
	margin-top: 80px;
	margin-bottom: 20px;
}

.form-signin {
  max-width: 420px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  background-color: #eee;
  border: 3px dotted rgba(0,0,0,0.1);
  }

.form-signin-heading {
  text-align:center;
  margin-bottom: 30px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

input[type="text"] {
  margin-bottom: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.colorgraph {
  font-weight: 200;
  height: 7px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.actions {
  justify-content: center;
  text-align: center;
  margin: 0 400px;
}

.about {
  height: 700px;
  background-color: #FFFFFF;
  margin-top: 30px;
  padding-top: 40px;
  justify-content: center;
  text-align: center;
  font-family: 'Mv Boli', sans-serif;
}

.about-title {
  font-size: 50px;
}

.about-detail {
  font-size: 20px;
}

.new-post {
  overflow-wrap: break-word;
}

.checkbox {
  display: flex;
  flex-wrap: wrap;
}

.checkbox-item {
  display: inline;
}

.col-md-8 {
  padding-top: 25px;
}

.unsubscribe {
  margin-top: 20px;
  text-align: center;
  justify-content: center;
}

.unsubscribe h2 {
  padding-left: 0;
}

.unsubscribe a {
  margin: 0 10px;
}

#comments_area {
  border: solid 1px #BBBBBB;
  border-radius: 6px;
  background-color: #FFFFFF;

}

#comments_area p {
  margin: 5px 0 3px;
}

.post-comment {
  display: flex;
  margin-left: 10px;
}

.post-comment-delete {
  margin-left: 10px;
}