<h6><i class="fas fa-star-and-crescent"></i>&nbsp;最近活動したユーザ</h6>
<% @users.each do |user| %>
  <% if user.is_deleted == false %> <!--退会ステータスが有効の場合-->
  <p>
    <%= link_to public_user_path(user) do %>
      <%= image_tag user.get_profile_image, class: "rounded-circle border border-muted" %>
      <%= user.name %>
    <% end %>
  </p>
  <% end %>
<% end %>